/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --colorPrimario: #0E6C64;
    --colorSecundario: #5F5566;
    --colorTexto: #333333;
    --colorBlanco: #EEEFEF;
    --tipography:"Montserrat", sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--colorTexto);
    line-height: 1.6;
    background-color: white;
}

header{
    display: flex;
    margin: auto;
    padding: 8px;
    margin: 8px;
}

.navbar{
    background-color: var(--colorBlanco);
    border-radius: 24px;
    width: 100%;
}

.navbar-toggler{
    background-color: var(--colorPrimario);
}

.btn{
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
    font-size: 16px;
    font-weight: bolder;
}

header img{
    width: 20%;
    height: 20%;
    margin: 8px 40px;
}

.search{
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
    background-color: var(--colorBlanco);
    padding: 8px;
    border-radius: 8px;
    color: var(--colorBlanco);
}

.search img{
    width: 50%;
    height: 50%;
    margin: 8px;
}


/* Intro Section */
.intro {
    background-color: var(--colorSecundario); /* Color morado oscuro */
    padding: 50px 20px;
    /* border-radius: 10px; */
    color: var(--colorBlanco);
    /* border: solid red; */
    width: 100%;
}

.intro-content {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;

}

.text {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    width: 100%;
    /* border: solid red; */
    gap: 32px;
}

.text h1 {
    font-size: 48px; 
    margin-bottom: 30px;

}

.text p {
    font-size: 20px;
    line-height: 1.8;
    max-width: 600px;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* align-content: center; */
}

.buttons button {
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
    border: none;
    padding: 20px 50px; /* Botones más grandes */
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.buttons button:hover {
    background-color: var(--colorPrimario);
}

.image img {
    height: auto;
    border-radius: 10px;
    width: 100%;
    /* border: solid red; */
}

.color-bar {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.color-bar span {
    display: inline-block;
    width: 100px;
    height: 6px;
    border-radius: 3px;
}

.bar-color-1 {
    background-color: var(--colorPrimario);
}

.bar-color-2 {
    background-color: #AB4E68;
}

.bar-color-3 {
    background-color: #B07156;
}

.bar-color-4 {
    background-color: #A9C2D7;
}

.bar-color-5 {
    background-color: #F7F0F5;
}

/* Features Section */
.features {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    gap: 20px; /* Espacio entre las tarjetas */
}

.features .feature {
    background-color: var(--colorBlanco);
    padding: 30px;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.features .feature:hover {
    transform: translateY(-10px);
}

.features .image {
    margin-bottom: 15px;
}

.features .image img {
    max-width: 100%; /* Imagen ocupa el 100% del contenedor */
    height: auto; 
    border-radius: 10px; /* Bordes redondeados para imagenes */
    object-fit: cover; 
    height: 60%;
}

.features h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--colorTexto);
}

.features p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--colorTexto);
}

/* Call to Action Section */
.cta {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--colorBlanco); 
}

.cta h2 {
    font-size: 28px;
    margin-bottom: 40px;
    color: var(--colorSecundario);
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.cta-item {
    width: 30%; /* Ancho de las secciones de texto */
    text-align: center;
}

.cta-item h3 {
    font-size: 24px;
    color: var(--colorPrimario); /* Color del texto "Comprar" y "Vender" */
    margin-bottom: 10px;
}

.cta-item p {
    font-size: 16px;
    color: var(--colorTexto);
    line-height: 1.6;
}

.cta-image {
    width: 30%; /* Ancho de la imagen */
    text-align: center;
}

.cta-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain; 
}

.cta-item p {
    padding: 0 20px; 
}

/* Carbon Footprint Section */
.carbon-footprint {
    text-align: center;
    background-image: url(../assests/img-aboutBanner.png);
    height: 600px;
    background-size: cover;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carbon-content {
    position: relative;
    }

.carbon-content h2 {
    font-size: 80px;
    font-weight: bold;
    color: var(--colorBlanco);
}


footer{
    background-color: var(--colorPrimario);
    padding: 32px;
    color: var(--colorBlanco);
}

footer h3{
    font-size: 24px;
    font-weight: bolder;
}

footer button{
    all: unset;
    font-size: 24px;
    background-color: var(--colorSecundario);
    color: var(--colorBlanco);
    font-weight: bolder;
    padding: 8px;
    border-radius:8px ;
    margin: 16px 0px;
}

#correo{
    all: unset;
    background-color: var(--colorBlanco);
    width: 90%;
    padding: 8px;
    color: var(--colorTexto);
}

.redes-footer{
    text-align: center;
}

.redes-footer img{
    padding: 16px;
}